.title-cover {
  position: absolute;
  width: 100%;
  font-family: var(--heading-font);
  font-size: 80px;
  font-weight: 600;
  z-index: 1;
  color: var(--heading-color);
  text-transform: uppercase;
  pointer-events: none;
  overflow: hidden;

}
