$margin-padding: var(--margin-padding);
$margin-padding-mobile: var(--margin-padding-mobile);
$body-style-space : var(--body-style-space);
$smooth-width : var(--smooth-width);
$box-padding: var(--box-padding);




